.app {
  height: 100vh;
  width: 100vw;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 14.5px !important;
  background-color: #303030;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100%;
  background-color: #202020;
  overflow-x: hidden;
}

.nonselectable {
  -webkit-user-select: none !important;
  user-select: none;
}

.undraggable {
  -webkit-user-drag: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.lax-list-item {
  background-color: transparent !important;
  cursor: unset !important;
}

.title_bar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}